@font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Bold.ttf");
    font-weight: 700;
}

* {
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: grid;
    grid-template-rows: 1fr auto;
    place-content: center;
    place-items: center;
    margin: 0;
}

.l-stack {
    display: grid;
    gap: 16px;
}

.b-qr-code-tile {
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 16px;
    width: 332px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
}

.b-qr-code-tile__image {
    border-radius: 12px;
}

.b-qr-code-tile__info {
    padding-inline: 18px;
    padding-block: 24px;
}

.b-qr-code-tile__title {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 22px;
}

footer {
    padding: 16px;
    font-size: 13px;
}